@{
    ViewBag.Title = "Tree插件-搜索jQTree";
}
@section CustomStyle{
    <link href="~/Scripts/zTree/v3.5.29/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-info">
        <div class="panel-heading" role="tab" id="heading01">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse01" aria-expanded="true" aria-controls="collapse01">
                    根据参数查找节点-模糊查询(name,id)
                </a>
            </h4>
        </div>
        <div id="collapse01" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading01">
            <div class="panel-body">
                <input type="text" id="searchTreeTxt" class="form-control" />
                <div class="col-md-4 col-sm-5">
                    <ul id="treeDemo" class="ztree"></ul>
                </div>
                <div class="col-md-8 col-sm-7 bs-callout bs-callout-info">
                    This is A Description Area.
                </div>
            </div>
        </div>
    </div>
</div>
@section CustomScript{
    <script src="~/Scripts/zTree/v3.5.29/js/jquery.ztree.core.min.js"></script>
    <script type="text/javascript">
        var setting = {
            data: {
                key: { title: "t" },
                simpleData: { enable: true }
            },
            view: {
                fontCss: getFontCss
            }
        };
        var zNodes = [
            { id: "10", pId: "0", name: "帮助", t: "帮助", open: true },
            { id: "1010", pId: "10", name: "通用函数common.js", t: "通用函数" },
            { id: "101011", pId: "1010", name: "创建表格[creatGrid]", t: "创建表格", url: "#101011", target: "_self" },
            { id: "101012", pId: "1010", name: "异步提交[ajaxTodo]", t: "异步提交", url: "#101012", target: "_self" },
            { id: "101013", pId: "1010", name: "异步提交[submitForm]", t: "异步提交", url: "#101013", target: "_self" },
            { id: "101014", pId: "1010", name: "异步提交[ajaxToSeaver]", t: "异步提交", url: "#101014", target: "_self" },
            { id: "101015", pId: "1010", name: "打开窗口[openMDialog]", t: "打开窗口", url: "#101015", target: "_self" },
            { id: "101016", pId: "1010", name: "打开标签[openMTabs]", t: "打开标签", url: "#101016", target: "_self" },
            { id: "101017", pId: "1010", name: "表格查询[mysearch]", t: "表格查询", url: "#101017", target: "_self" },
            { id: "101018", pId: "1010", name: "格式化表单[clearForm]", t: "格式化表单", url: "#101018", target: "_self" },
            { id: "1011", pId: "10", name: "表格", t: "表格" },
            { id: "101110", pId: "1011", name: "基本表格", t: "基本表格", url: "#101110", target: "_self" },
            { id: "101111", pId: "1011", name: "可编辑表格", t: "可编辑表格", url: "#101111", target: "_self" },
            { id: "1012", pId: "10", name: "窗口|对话框", t: "窗口|对话框" },
            { id: "101210", pId: "1012", name: "窗口|对话框", t: "窗口|对话框", url: "#101210", target: "_self" },
            { id: "1013", pId: "10", name: "表单", t: "表单" },
            { id: "101310", pId: "1013", name: "时间输入框", t: "时间输入框", url: "#101310", target: "_self" },
            { id: "101311", pId: "1013", name: "combox", t: "combox", url: "#101311", target: "_self" },
            { id: "101312", pId: "1013", name: "自动完成", t: "自动完成", url: "#101312", target: "_self"},
            { id: "101313", pId: "1013", name: "级联", t: "级联", url: "#101313", target: "_self" },
            { id: "101314", pId: "1013", name: "客户端验证", t: "客户端验证", url: "#101314", target: "_self"},
            { id: "1014", pId: "10", name: "树", t: "树" },
            { id: "101410", pId: "1014", name: "基本树", t: "基本树", url: "#101410", target: "_self"},
            { id: "101510", pId: "10", name: "布局", t: "布局", url: "#101510", target: "_self" },
            { id: "101610", pId: "10", name: "导航栏|工具栏", t: "导航栏|工具栏", url: "#101610", target: "_self" },
            { id: "101710", pId: "10", name: "右键菜单", t: "右键菜单", url: "#101710", target: "_self" },
            { id: "101810", pId: "10", name: "顶级导航标签", t: "顶级导航标签", url: "#101810", target: "_self" },
            { id: "101910", pId: "10", name: "内部多标签|tab", t: "内部多标签", url: "#101910", target: "_self" },
            { id: "102010", pId: "10", name: "站长素材", t: "站长素材", url: "#102010", target: "_self"},
        ];
        $(function () {
            $.fn.zTree.init($("#treeDemo"), setting, zNodes);
            var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
            treeObj.expandAll(true);
            if (location.hash.indexOf('#') >= 0) {
                $('a[href=' + location.hash + ']').click();
            }
            $("#searchTreeTxt").bind("change", SearchTreeNode).bind("keydown", function (e) {
                if (e.keyCode == 13) {
                    SearchTreeNode();
                }
            });
        });
        var searchValue = '';
        var nodeList = [];
        function SearchTreeNode() {
            searchValue = $.trim($("#searchTreeTxt").val());
            var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
            updateNodes(false);
            if (searchValue === '') {
                return;
            }
            nodeList = treeObj.getNodesByFilter(filter);
            updateNodes(true);
        }
        function updateNodes(highlight) {
            var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
            for (var i = 0, l = nodeList.length; i < l; i++) {
                nodeList[i].highlight = highlight;
                treeObj.updateNode(nodeList[i]);
            }
        }
        function filter(node) {
            if (node.isParent) {
                return false;
            }
            return node.name.indexOf(searchValue) >= 0 || node.id.indexOf(searchValue) >= 0;
        }
        function getFontCss(treeId, treeNode) {
            return (!!treeNode.highlight) ? { color: "#A60000", "font-weight": "bold" } : { color: "#333", "font-weight": "normal" };
        }
    </script>
}