@{
    ViewBag.Title = "微信支付样例-下载对账单";
}
<form id="queryForm" class="form-inline" action="@Url.Action("DownloadBillPage")" method="post" onsubmit="return false;">
    <div class="form-group">
        <label for="bill_date">对账日期：</label>
        <input type="date" id="bill_date" name="bill_date" class="form-control" />
    </div>
    <div class="form-group">
        <label for="bill_type">账单类型：</label>
        <select id="bill_type" name="bill_type" class="form-control">
            <option value="ALL">所有订单信息</option>
            <option value="SUCCESS">成功支付的订单</option>
            <option value="REFUND">退款订单</option>
            <option value="REVOKED">撤销的订单</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" id="queryBtn" class="btn btn-sm btn-info">
            <span class="fa fa-search"></span>
            查询
        </button>
    </div>
</form>
<div class="divider"></div>
<div id="queryResult" class="well">
</div>
@section CustomScript{
    <script type="text/javascript">
        $(function () {
            $('#queryBtn').on('click', function () {
                var thisEle = $(this).attr('disabled', true);
                var resultEle = $('#queryResult').html('');
                var formEle = $('#queryForm');
                var postUrl = formEle.attr('action');
                $.post(postUrl, formEle.serialize(), function (data) {
                    thisEle.removeAttr('disabled');
                    if (data.IsSuccess) {
                        resultEle.html(data.Message);
                    } else {
                        alert(data.Message);
                    }
                });
                return false;
            });
        });
    </script>
}